 <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\site\wwwroot\antenv\Scripts\python.exe"
                  arguments="%home%\site\wwwroot\startup.txt"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>


WEBSITES_PORT=8000
SCM_DO_BUILD_DURING_DEPLOYMENT=true
PYTHON_ENABLE_GUNICORN=true
STARTUP_FILE=startup.txt
PYTHON_PATH=/home/site/wwwroot